@import 'https://fonts.googleapis.com/css?family=Exo+2:100,300,400,400i,500,500i,700,900';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
a:hover{
text-decoration: none;
}
:focus {
outline: 0;
}
*{
margin:0;
padding:0;
}
html{
 height:100%;
}
 body{
font-family: 'Exo 2', sans-serif;
width:100%;
height:100%;
 -webkit-overflow-scrolling: touch;
 }
 ul{list-style-type:none;}

.logo{
float:left;
display:block;
width:155px;
height:130px; 
background: url(../images/logo.png) 0 0 no-repeat;
margin:0 50px 0 45px;
}
.f-logo{
float:left;
display:block;
width:126px;
height:105px;
background: url(../images/f-logo.png) 0 0 no-repeat;
margin:0 50px 0 45px;
}
.logo-text{
    float: left;
font-size: 21px;
    color: #8e8e8e;
    margin: 40px 40px 0 0;
}
.top-header{
padding-top: 22px;
}
.container{
    position: relative;
width: 1200px;
    margin: 0 auto;
}
.header{
overflow: hidden;
    clear: both;
    min-height: 830px;
    background: url(../images/first-screen-bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
}
.header.vh100{
height: 100vh;
min-height: 100vh;
}
.autho-logo {
    float: left;
    margin-top: 45px;
}
.autho-logo li {
    float: left;
    margin-right: 20px;
}
.autho-logo li:first-child{margin-top: 5px;}
.autho-logo img {
}
.right-top{
float: right;
    margin-top: 35px;
}

.social {
    float: left;
    margin-top: 10px;
}
.social  li{
float: left;
    
}
.social .vk a {
    display: block;
    width: 36px;
    height: 24px;
    background: url(../images/social-sprite.png) 0 0 no-repeat;
    margin-right: 20px;
}
.social .insta a {
       display: block;
    width: 24px;
    height: 24px;
    background: url(../images/social-sprite.png) 100% 0 no-repeat;
}
.phone {
    float: right;
    margin-left: 40px;
}
.phone span {
    display: inline-block;
    padding-left: 45px;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    background: url(../images/phone-icon.png) 0 50% no-repeat;
    line-height: 40px;
}
.phone .feedback {
    font-size: 14px;
    color: #fdc313;
    margin-left: 45px;
}

.middle-header {
    overflow: hidden;
    clear: both;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 170px;
}
.middle-header h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 60px;
    font-weight: 500;
}
.middle-header .hvr-ripple-out {
    display: inline-block;
    height: 66px;
    line-height: 66px;
    padding: 0 35px;
    font-size: 26px;
    color: #000;
    text-decoration: none;
    background: #fdc313;
    border-radius: 4px;
}


/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #fdc313 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
/* Ripple Out 2*/
a.btn2{
display: inline-block;
font-size: 24px;
    padding: 0 42px;
    line-height: 54px;
    height: 54px;
    text-decoration: none;
    border-radius: 2px;
    color: #000;
    margin-top: 40px;
}
@-webkit-keyframes hvr-ripple-out2 {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out2 {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
    transition: 0.5s;
}
.hvr-ripple-out2:hover{
 background: #f99804;
    color: #fff;
}
.hvr-ripple-out2:before {
  content: '';
  position: absolute;
  border: #f99804 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out2:hover:before, .hvr-ripple-out2:focus:before, .hvr-ripple-out2:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
    
}


.bottom-header {
    text-align: center;
}
.bottom-header li {
    display: inline-block;
    width: 235px;
    border-right: 1px solid #727176;
    height: 150px;
    font-size: 18px;
    color: #fdc313;
    font-weight: 300;
    vertical-align: top
}
.bottom-header li:last-child{border-right: none;}
.bottom-header li span{
display: block;
    padding-top: 90px;
}
.bottom-header li.icon1 span{background: url(../images/top-icon1.png) 50% 0 no-repeat;}
.bottom-header li.icon2 span{background: url(../images/top-icon2.png) 50% 0 no-repeat;}
.bottom-header li.icon3 span{background: url(../images/top-icon3.png) 50% 0 no-repeat;}
.bottom-header li.icon4 span{background: url(../images/top-icon4.png) 50% 0 no-repeat;}



/* end header */


section {
    overflow: hidden;
    clear: both;
    padding: 60px 0;
    position: relative;
}

section h2 {
    font-size: 48px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}
.services {padding-top: 100px;}


.services-item {
    overflow: hidden;
    clear: both;
    text-align: center;
}
.col-4 {
    width: 346px;
    margin: 0 20px 30px 20px;
    display: inline-block;
    vertical-align: top;
}

.col-4 .item-img {
    position: relative;
 height: 198px;
    margin-bottom:15px;
}
.col-4 img {
    width: 346px;
    height: 198px;
}
.services-item p{
font-size: 21px;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.popular-product {
    background: #e3e9ee;
     text-align: center;
}
.popular-product-items a{text-decoration: none;}
.popular-product-items .product-name {
    display: block;
    text-align: left;
    font-size: 21px;
    color: #000;
    margin-bottom: 10px;
}
  .bottom-product {
    overflow: hidden;
    clear: both;
}
.popular-product-items .bottom-product .cost {
    float: left;
    display: inline-block;
    padding: 0 10px;
    line-height: 33px;
    height: 33px;
    font-size: 21px;
    color: #000;
    background: #ffcc00;
    margin-right: 7px;
}
.popular-product-items .bottom-product .cart {
    float: left;
    display: inline-block;
    width: 40px;
    height: 33px;
    background: #ffcc00 url(../images/cart-icon.png) 50% 50% no-repeat;
}


.work{
background: #e3e9ee;
text-align: center
}
.work p.min-p{
font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}
.bottom-product {
}
.bottom-product .date {
    float: left;
    display: inline-block;
    font-size:12px;
    color: #000;
    height: 18px;
    line-height: 18px;
    padding: 0 7px;
    background: #adc7dd;
    margin-right: 7px;
}
.bottom-product .price {
    float: left;
      display: inline-block;
    font-size:12px;
    color: #000;
    height: 18px;
    line-height: 18px;
    padding: 0 7px;
    background: #ffcc00;
}
.adv-items {
    overflow: hidden;
    clear: both;
    text-align: center;
}
.adv-items .item {
    width: 19%;
    padding: 120px 2.5% 0 2.5%;
    display: inline-block;
    vertical-align: top;
}
.adv-items .item.adv-items p {
    font-size: 21px;
    color: #000;
    font-weight: 300;
}
.adv-items .item.adv-items p strong{font-weight: 600;}

.adv-items .item.icon1{background: url(../images/advantages-icon1.png) 50% 0 no-repeat;}
.adv-items .item.icon2{background: url(../images/advantages-icon2.png) 50% 0 no-repeat;}
.adv-items .item.icon3{background: url(../images/advantages-icon3.png) 50% 0 no-repeat;}
.adv-items .item.icon4{background: url(../images/advantages-icon4.png) 50% 0 no-repeat;}


a.btn2{
display: inline-block;
font-size: 24px;
    padding: 0 42px;
    line-height: 54px;
    height: 54px;
    text-decoration: none;
    border-radius: 2px;
    color: #000;
    margin-top: 40px;
}
.map{
    position: relative;
height: 460px;
    border-top: 1px solid #f99804;
    padding: 0;
    z-index: 1;
}
.map-block{

}
.top-form{
    float: left;
    overflow: visible;
    width: 100%;
padding-bottom: 0;
    background: #e3e9ee;
    margin-bottom: -30px;
}
.top-form h3{
font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}
.window .form-block{box-shadow: none;}
.form-block {
    width: 295px;
    padding: 25px 55px 40px 55px;
    background: #fff;
    margin: 0 auto -30px;
        border-radius: 4px;
    box-shadow: 0 0 30px 4px #d4d9de;
}
.form-block label {
    display: block;
    font-size: 21px;
    color: #000;
    margin-bottom: 15px;
     text-align: center;
}
.form-block input[type="text"] {
    font-family: 'Exo 2', sans-serif;
    width: 291px;
    padding: 0 15px;
    height: 55px;
    line-height: 55px;
    border: 2px solid #bcbcbc;
    border-radius: 2px;
    margin-bottom: 15px;
      font-size: 24px;
    color: #000;
}
.form-block input[type="submit"]{
    font-family: 'Exo 2', sans-serif;
 width: 291px;
    height: 55px;
    border: 2px solid #fdc313;
    background: #fdc313;
    font-size: 24px;
    color: #000;
    cursor: pointer;
     border-radius: 2px;
    transition: 0.5s;
}
.form-block input[type="submit"]:hover{background:#f99804;border-color: #f99804;color: #fff;}
.bottom-form{
overflow: hidden;
    clear: both;
    background: url(../images/price-bg.png) 50% 0 no-repeat fixed;
    background-size: cover;
    padding: 60px 0 80px 0;
}
.bottom-form h3{
font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}
.bottom-form .form-block {
box-shadow: none;
margin-bottom: 0;
}
.top-border{
position: absolute;
    top: -54px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #ffcc00
}

.footer{
overflow: hidden;
    clear: both;
    padding: 0 0 25px 0;
    background: #15161b
}


/* modal */
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:860px;
  display:none;
  z-index:9999;
    background-color:#ffffff;
    border-radius: 6px;
    box-shadow: 0 0 4px 2px #000;
}
#boxes .window.no-bg{
background: transparent;
    box-shadow:none;
    width: auto;
}
#boxes .window .close{
display: block;
    width: 16px;
    height: 16px;
    background: url(../images/close.png) 0 0 no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
}
.window-content {
    overflow: hidden;
    clear: both;
    padding: 30px;
}
.window-content .product-gallery {
    float: left;
    width: 350px;
}
.window-content .product-info {
    float: right;
    width: 420px;
}
 .bottom-window {
    overflow: hidden;
    clear: both;
padding: 20px;
    background: #e3e9ee;
     border-radius: 0 0 6px 6px;
}
 .bottom-window p {
    font-size: 16px;
    color: #000;
}
.clear{overflow: hidden;clear: both;}


.product-info .product-tittle {
    font-size: 21px;
    color: #000;
    margin-bottom: 10px;
}
.product-info .list-tittle {
     margin-bottom: 10px;
}
.product-info li {
     font-size: 16px;
    color: #000;
}
.product-info .availability {
    font-size: 16px;
    color: #23af30;
    margin-bottom: 10px;
    display: block;
}
.product-info .availability.red{color: #ff0000;}
.product-info .product-set,.product-info .product-full-construction {
    overflow: hidden;
    clear: both;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 10px;
}
.product-info .product-set .cost {
    float: left;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: #000;
    border: 2px solid #fdc313;
    margin-right: 15px;
}
.product-info .product-set .cost span,.product-info .product-full-construction .cost  span{font-size: 16px;}

.product-info .product-full-construction .cost {
      float: left;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    color: #000;
    border: 2px solid #fd8113;
    margin-right: 15px;
}

.application {
float: left;
    width: 100%;
}
.application .h-tittle {
    display: block;
    font-size: 21px;
    color: #000;
    margin-bottom: 10px;
}
.application .application-block {
}
.application input[type="text"] {
    float: left;
    font-family: 'Exo 2', sans-serif;
    width: 230px;
    padding: 0 10px;
    height: 55px;
    line-height: 55px;
    border: 2px solid #bcbcbc;
    border-radius: 2px;
    margin-bottom: 15px;
      font-size: 24px;
    color: #000;
    margin-right: 10px;
}
.application input[type="submit"]{
    float: left;
    font-family: 'Exo 2', sans-serif;
 width: 180px;
    height: 55px;
    border: 2px solid #fdc313;
    background: #fdc313 url(../images/cart-btn.png) 15px 50% no-repeat;
    padding-left: 40px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
     border-radius: 2px;
}
.window-phone {
    overflow: hidden;
    clear: both;
    display: block;
    padding: 3px 0 3px 32px;
    background: url(../images/phone-icon2.png) 0 50% no-repeat;
    font-size: 16px;
    color: #000;
}
.window-phone strong {
    font-weight: 700;
}
.contacts-block {
    position: absolute;
    top: 70px;
    right: 190px;
    padding: 25px 30px;
    background: #fff;
    border-radius: 4px;
    z-index: 999;
}
.contacts-block ul {
}
.contacts-block ul li{
padding-left: 45px;
    margin-bottom: 20px;
    font-size: 16px;
    min-height: 33px;
}
.contacts-block ul li:nth-child(2),.contacts-block ul li:nth-child(4){line-height: 30px;}
.contacts-block ul li:last-child{margin-bottom: 0;}
.contacts-block .icon1 {background: url(../images/location-icon-min.png) 0 50% no-repeat;}
.contacts-block .icon2 {background: url(../images/phone-icon.png) 0 50% no-repeat;}
.contacts-block .icon3 {background: url(../images/clock-icon.png) 0 50% no-repeat;}
.contacts-block .icon4 {background: url(../images/forum-icon.png) 0 50% no-repeat;}


.dev-link{
float: right;
clear: both;
    font-size: 14px;
    color: #fff;
    margin: 30px 20px 0 0;
}